<nav class="navbar navbar-inverse">
			<ul>
				<li><a class="nav-ride" href="/driver-ridepage-with-appt"><img class="ride-img" src="../images/rides-nonactive.png"></a></li>
				<li><a class="nav-profile" href="/driver-profile-private"><img class="profile-img" src="../images/profile-nonactive.png"></a></li>
				<li><a class="nav-schedule" href="/driver-schedule"><img class="schedule-img" src="../images/schedule-nonactive.png"></a></li>
				<li><a class="nav-settings" href="/settings"><img class="settings-img" src="../images/settings-nonactive.png"></a></li>
			</ul>
</nav>
