<nav class="navbar navbar-inverse">
			<ul>
				<li><a href="/driver-ridepage-with-appt"><img src="../images/rides-nonactive.png"></a></li>
				<li><a href="/driver-profile-private"><img src="../images/profile-nonactive.png"></a></li>
				<li><a href="/driver-schedule"><img src="../images/schedule-nonactive.png"></a></li>
				<li><a href="/settings"><img src="../images/settings-nonactive.png"></a></li>
			</ul>
</nav>
