<nav class="navbar navbar-inverse">
			<ul>
				<li><a class="nav-ride" href="/passenger-ride-with-appt" role="button"><img class="ride-img" src="../images/rides-nonactive.png"></a></li>
				<li><a class="nav-profile" href="/passenger-profile-private" role="button"><img class="profile-img" src="../images/profile-nonactive.png"></a></li>
				<li><a class="nav-schedule" href="/passenger-schedule" role="button"><img class="schedule-img" src="../images/schedule-nonactive.png"></a></li>
				<li><a class="nav-settings" href="/passenger-settings" role="button"><img class="settings-img" src="../images/settings-nonactive.png"></a></li>
			</ul>
</nav>
