<nav class="navbar navbar-inverse">
			<ul>
				<li><a href="/passenger-ride-with-appt" role="button"><img src="../images/rides-nonactive.png"></a></li>
				<li><a href="/passenger-profile-private" role="button"><img src="../images/profile-nonactive.png"></a></li>
				<li><a href="/passenger-schedule-built" role="button"><img src="../images/schedule-nonactive.png"></a></li>
				<li><a href="/settings" role="button"><img src="../images/settings-nonactive.png"></a></li>
			</ul>
</nav>
