<% include partials/header %>
<body class="purple-background">
  <div class="col-xs-12 col-md-8">
  <p class="white-text header-text" style="margin-top: 100px;">Congrats! You are one step closer to becomming a WiseRides driver. We will update you on your application status within the next few days.</p>
  <h3 class="white-text" style="margin-bottom: 20px;">Please call 555-823-4098 for questions regarding your application.</h3>
    <a href="/logout">
      <button class="btn-orange-lg btn-text">Log Out</button>
    </a>


</div>


<% include partials/footer %>
