<% include partials/header %>
<body class="purple-background">

  <div class="header-text">
    <p>Now let's check that you are a capable and safe driver.</p>
  </div>

<form class="insert-margin" method="post" action="/driverapi">

  <div class="form-group">
     <label for="license" class="white-text">Driver's License</label>
     <br>
     <div id="upload-btn" class="fileUpload btn btn-default">
      <span>Upload</span>
      <input type="file" class="upload" />
    </div>
     <p class="help-block">Upload a photo of your driver's license.</p>
  </div>

  <div class="form-group">
     <label for="insurance" class="white-text">Insurance Card</label>
     <br>
	     <div id="upload-btn" class="fileUpload btn btn-default">
		      <span>Upload</span>
		      <input type="file" class="upload" />
	    	</div>
     <p class="help-block">Upload a photo of your insurance card.</p>
  </div>

	<div class="col-xs-offset-0">
	  <button href="driver-app-pg3" type="submit" value="save" class="arrow-btn" onclick=""><img src="../images/nextarrow.png" type="submit" value="save"></button>
	</div>

</form>





<% include partials/footer %>
