<% include partials/header %>
<body class="tan-background">
<% include partials/driver-navbar %>
<h2 class="purple-text">Hello *Name*!</h2>
<h4 class="purple-text">You have no scheduled rides. </h4>
<div class="passenger-options">
  <a class="btn btn-orange-default btn-lg" href="/driver-schedule" role="button">View Schedule</a><br><br>
</div>
<div>


<% include partials/footer %>
