<% include partials/header %>
<body class="tan-background">
<% include partials/driver-navbar %>

<h2 class="orange-text">Your Next Ride</h2>
  <ul class="purple-text">
    <li>Today with: **passenger first name** </li>
    <li>Pick up time between: </li>
    <li>Pick up at: </li>
    <li>Drop off at: </li>
  </ul>

  <a href="/passenger-profile-public" method="post" type="submit" class="btn btn-orange-default btn-lg">View Rider Profile</a>
  <a href="/driver-ridepage-without-appt" method="post" type="submit" class="btn btn-orange-default btn-lg">Cancel This Ride</a>
  <p class="purple-text" style="margin-bottom: 20px;">(At least 48 hours prior to ride)</p> <br>

  <a href="/passenger-profile-public" method="post" type="submit" class="btn arrow-btn btn-lg"><img src="../images/backarrow.png" method="post"></a>
  <a href="/passenger-profile-public" method="post" type="submit" class="btn arrow-btn btn-lg"><img src="../images/nextarrow.png" method="post"></a>



<% include partials/footer %>
