<% include partials/header %>
<body class="purple">
  <div class="col-xs-12 col-md-8">
  <p class="plain-text">Congrats! You are one step closer to becomming a WiseRides driver. We will update you on your application status within the next few days.</p>
  <p class="plain-text">Please call 555-823-4098 for questions regarding your application.</p>
    <a href="/logout">
      <button id="btn-logout"class="btn btn-default">Log Out</button>
    </a>

  
</div>


<% include partials/footer %>
