<% include partials/header %>
<body class="tan">
<% include partials/driver-navbar %>

<h3>Unfulfilled Rides</h3>
  <ul id="notifications">

  </ul>

  <a href="/passenger-profile-public" method="post" type="submit" class="btn btn-default btn-lg">View Rider Profile</a>
  <a href="/driver-ridepage-without-appt" method="post" type="submit" class="btn btn-default btn-lg">Cancel This Ride</a>
  (At least 48 hours prior to ride)

  <a href="/passenger-profile-public" method="post" type="submit" class="btn btn-default btn-lg"><img src="../images/backarrow.png" method="post"></a>
  <a href="/passenger-profile-public" method="post" type="submit" class="btn btn-default btn-lg"><img src="../images/nextarrow.png" method="post"></a>



<% include partials/footer %>
