<% include partials/header %>

<body class="purple-background">
	<div class="header-text">
		<p>Almost done! Now we just need some information about your vehicle.</p>
	</div>


  <form method="put" class="form-inline" action="driver-app-done">
  <div class="form-group">
    <div class="col-xs-7" style="padding-right: 5px;">
      <label class="white-text" for="exampleInputName2">Licence Plate Number</label>
      <input type="text" class="form-control width-control" id="exampleInputName2" placeholder="XYZ 123">
    </div>
  </div>
  <div class="dropdown">
    <div class="col-xs-4" style="padding-right: 5px;">
      <label class="white-text" for="dropdownState">State</label><br>
    <button class="btn btn-default dropdown-toggle scrollable-menu" data-toggle="dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      State
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">AL</a></li>
      <li><a href="#">AK</a></li>
      <li><a href="#">AZ</a></li>
			<li><a href="#">AR</a></li>
			<li><a href="#">CA</a></li>
			<li><a href="#">CO</a></li>
			<li><a href="#">CT</a></li>
			<li><a href="#">DE</a></li>
			<li><a href="#">FL</a></li>
			<li><a href="#">GA</a></li>
			<li><a href="#">HI</a></li>
			<li><a href="#">ID</a></li>
			<li><a href="#">IL</a></li>
			<li><a href="#">IN</a></li>
			<li><a href="#">IA</a></li>
			<li><a href="#">KS</a></li>
			<li><a href="#">KY</a></li>
			<li><a href="#">LA</a></li>
			<li><a href="#">ME</a></li>
			<li><a href="#">MD</a></li>
			<li><a href="#">MA</a></li>
			<li><a href="#">MI</a></li>
			<li><a href="#">MN</a></li>
			<li><a href="#">MS</a></li>
			<li><a href="#">MO</a></li>
			<li><a href="#">MT</a></li>
			<li><a href="#">NE</a></li>
			<li><a href="#">NV</a></li>
			<li><a href="#">NH</a></li>
			<li><a href="#">NJ</a></li>
			<li><a href="#">NM</a></li>
			<li><a href="#">NY</a></li>
			<li><a href="#">NC</a></li>
			<li><a href="#">ND</a></li>
			<li><a href="#">OH</a></li>
			<li><a href="#">OK</a></li>
			<li><a href="#">OR</a></li>
			<li><a href="#">PA</a></li>
			<li><a href="#">RI</a></li>
			<li><a href="#">SC</a></li>
			<li><a href="#">SD</a></li>
			<li><a href="#">TN</a></li>
			<li><a href="#">TX</a></li>
			<li><a href="#">UT</a></li>
			<li><a href="#">VT</a></li>
			<li><a href="#">VA</a></li>
			<li><a href="#">WA</a></li>
			<li><a href="#">WV</a></li>
			<li><a href="#">WI</a></li>
			<li><a href="#">WY</a></li>

    </ul>
    </div>
  </div>
	<br>

     <label for="carPhoto" class="white-text insert-margin" style="margin-left: 35%; margin-right: 35%;">Photo of Car</label>
     <br>
     </div>
     <div id="upload-btn" class="fileUpload btn btn-default">
      <span>Upload</span>
      <input type="file" class="upload" />
    </div>
     <p class="help-block" style="margin-bottom: 20px;">Upload a photo of your car.</p>
<div class="col-xs-offset-2" style="text-align: left; color: white;">
    <div class="checkbox">
      <label>
        <input id="driver-wheelchair" class="box" type="checkbox" value="">
        <p>Wheelchair accessible</p>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input id="driver-cargo" class="box" type="checkbox" value="">
        <p>Cargo space for medical supplies</p>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input id="driver-low-rise" class="box" type="checkbox" value="">
        <p>Low-rise vehicle</p>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input id="driver-step-assistance" class="box no-bottom-padding" type="checkbox" value="">
        <p>Step assistance</p>
      </label>
    </div>
		</div>
		<a class="btn-orange-lg" href="/driver-app-done" role="button">Submit</a><br>
</div>
</form>


<% include partials/footer %>
