<% include partials/header %>
<body class="photo">
<div class="container-fluid" >
  <div class="row">
		<div class="col-md-3"></div>
    <div class="col-xs-12 col-md-6">
				<img src="images/smlogowtext.png" alt="Wise Ride logo" class="landing-logo" style="margin-top: 20px;"/>
				<h1> A free ride sharing service for seniors </h1>
				<a class="btn-orange-lg" href="/login" role="button">Sign In</a><br>
				<a class="btn-orange-lg" href="/signup" role="button">Sign Up</a><br><br>
        <a class="info-btn" href="/info" role="button">i</a>
    </div>
		<div class="col-md-3"></div>

  </div>
</div>


<% include partials/footer %>
