<% include partials/header %>

<div class="landing">
  <div class="row">
		<div class="col-md-3"></div>
    <div class="col-xs-12 col-md-6">
				<img src="../images/smlogowtext.png" />
				<h1 class="main-h1"> A free ride sharing service for seniors </h1>
				<a class="btn btn-default btn-lg" id="login-btn" href="/login" role="button">Sign In</a><br>
				<a class="btn btn-default btn-lg" id="signup-btn" href="/signup" role="button">Sign Up</a>
    </div>
		<div class="col-md-3"></div>

  </div>
</div>


<% include partials/footer %>
