<% include partials/header %>
<body class="photo">
<div class="col-xs-12">
  <img src="images/smlogowtext.png" style="margin-top: 20px;" alt="Wise Rides logo"><br><br>
  <h3 class="white-text">WiseRides is a non-profit ridesharing service for senior citizens in Austin, TX. We ask that participating seniors are 65 or older or have qualifying circumstances. All drivers are volunteers and go through a thorough application process.</h3>

  <a href="tel:555-555-5555" class="btn-orange-lg btn-text" style="margin-bottom: 10px;">Call WiseRides</a>
  <a href="/ride-map" class="btn-orange-lg btn-text" style="margin-bottom: 10px;">View Service Map </a>

  <div>
    <a href="/"><img class="back-button" src="images/backarrow.png" alt="Back Arrow"></a>
  </div>
</div>

<% include partials/footer %>
