<% include partials/header %>
<div class="info">
  <img src="images/smlogowtext.png" alt="Wise Rides logo"><br><br>
  <p>WiseRides is a non-profit ridesharing service for senior citizens in Austin, TX. We ask that participating seniors are 65 or older or have qualifying circumstances. All drivers are volunteers and go through a thorough application process.</p>

  <a href="tel:555-555-5555" class="btn btn-default"  >Call WiseRides</a>
  <a href="/ride-map" class="btn btn-default">View Service Map </a>

  <div>
    <a href="/" id="backbutton"><img id="backarrow" src="images/backarrow.png" alt="Back Arrow"></a>
  </div>

</div>
<% include partials/footer %>
