<% include partials/header %>
<body class="tan">
<% include partials/navbar %>
  <video src="" autoplay poster=""></video>
  <a class="btn btn-default btn-lg" id="login-btn" href="/login" role="button">Play Again</a><br>
  <a class="btn btn-default btn-lg" id="login-btn" href="/passenger-profile-private" role="button">Start Riding</a><br>

<% include partials/footer %>
