<% include partials/header %>
<body class="tan-background">
<% include partials/passenger-navbar %>
<a class="btn-orange-default" href="/" role="button">Log Out</a><br><br>
<a class="btn-orange-default" href="/faq" role="button">FAQs</a><br><br>
<a class="btn-orange-default" href="/onboarding" role="button">Tutorial Video</a><br><br>
<a class="btn-orange-default" href="/contact" role="button">Contact Us</a><br><br>



<% include partials/footer %>
