<% include partials/header %>
<body>
<div class="pass-no">
 <div class="col-xs-12 col-md-8">
   <p>Wise rides is currently available for those who are 65 or older as well as those with qualifying circumstances. If you are under 65 years of age, but believe you are in need of these services, pelase call 555-823-4098 for verification.</p>
 </div>
</div>
<% include partials/footer %>
