<% include partials/header %>
<% include partials/navbar %>
<img id="bettywhite" src="/images/passenger-photo.jpg" alt="Betty White">

<<div class="checkbox">
  <label><input type="checkbox" value="">Option 1</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">Option 2</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" >Option 3</label>
  <div class="checkbox">
    <label><input type="checkbox" value="" >Option 4</label>
</div>


<% include partials/footer %>
