<% include partials/header %>
<<<<<<< HEAD

<div class="pass-app-1">
  <form>
    <div class="col-xs-12 col-md-8">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="First">
        <input type="text" class="form-control" placeholder="Last">
        <label for="dateOfBirth">Date of Birth</label>
          <div class="date">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Month
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#">7</a></li>
              <li><a href="#">8</a></li>
              <li><a href="#">9</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#">11</a></li>
              <li><a href="#">12</a></li>

            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Day
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#">7</a></li>
              <li><a href="#">8</a></li>
              <li><a href="#">9</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#">11</a></li>
              <li><a href="#">12</a></li>
              <li><a href="#">13</a></li>
              <li><a href="#">14</a></li>
              <li><a href="#">15</a></li>
              <li><a href="#">16</a></li>
              <li><a href="#">17</a></li>
              <li><a href="#">18</a></li>
              <li><a href="#">19</a></li>
              <li><a href="#">20</a></li>
              <li><a href="#">21</a></li>
              <li><a href="#">22</a></li>
              <li><a href="#">23</a></li>
              <li><a href="#">24</a></li>
              <li><a href="#">25</a></li>
              <li><a href="#">26</a></li>
              <li><a href="#">27</a></li>
              <li><a href="#">28</a></li>
              <li><a href="#">29</a></li>
              <li><a href="#">30</a></li>
              <li><a href="#">31</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Year
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">1951</a></li>
              <li><a href="#">1950</a></li>
              <li><a href="#">1949</a></li>
              <li><a href="#">1948</a></li>
              <li><a href="#">1947</a></li>
              <li><a href="#">1946</a></li>
              <li><a href="#">1945</a></li>
              <li><a href="#">1944</a></li>
              <li><a href="#">1943</a></li>
              <li><a href="#">1942</a></li>
              <li><a href="#">1941</a></li>
              <li><a href="#">1940</a></li>
              <li><a href="#">1939</a></li>
              <li><a href="#">1938</a></li>
              <li><a href="#">1937</a></li>
              <li><a href="#">1936</a></li>
              <li><a href="#">1935</a></li>
              <li><a href="#">1934</a></li>
              <li><a href="#">1933</a></li>
              <li><a href="#">1932</a></li>
              <li><a href="#">1931</a></li>
              <li><a href="#">1930</a></li>
              <li><a href="#">1929</a></li>
            </ul>
          </div>
          </div>
          <label for="password">Create a Password</label>
          <input type="password" class="form-control" placeholder="minimum 8 characters">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="example@mail.com">
          <label for="mobileNumber">Mobile Number</label>
          <input type="number" class="form-control" placeholder="(xxx) xxx-xxxx">
          <label for="notificationType">Notification Preference(s)</label>
            <div class="checkbox">
                <div class="notification">
                <input type="checkbox"> Text
                </div>
                <div class="notification">
                <input type="checkbox"> Email
                </div>
            </div>
  </form>
  <a href="/passengerapp_pg2" class="btn btn-default">
     <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
  </a>
</div>
=======
<div class="container-fluid" id="passengerapp_pg1">
	<div class="passengertxt">
		<p>Thank you for signing up with wise<strong class="passStrong">Rides</strong>! Please fill out the necessary account information below.</p>
	</div>
	<form class="form-inline" action="/passengerapp_pg1">
		<div class="form-group">
	    <label for="firstName">First Name</label><br>
	    <input type="text" name="firstName" class="form-control" method="post" id="firstName" placeholder="First Name">
	    <input type="text" name="lastName" class="form-control" method="post" id="lastName" placeholder="Last Name">
	  </div>
	</form>

	<form class="form-inline">

		<label for="birthday">Date of Birth</label><br>
		<input type="date" name="birthday" class="form-control" method="post" id="birthday" placeholder="Date of Birth">

		<label for="password">Password</label><br>
		<input type="mixed" name="password" class="form-control" method="post" id="password" placeholder="Password">

    <label for="email">Email address</label>
    <input type="email" name="email" class="form-control" method="post" id="email" placeholder="Email">

    <label for="phone">Phone Number</label>
    <input type="phone" name="phone" class="form-control" method="post" id="phone" placeholder="(xxx)-xxx-xxxx">
	  <!-- <div class="form-group">
	    <label for="exampleInputFile">File input</label>
	    <input type="file" id="exampleInputFile">
	    <p class="help-block">Example block-level help text here.</p>
	  </div> -->
		<p class="notifications">Notification preferences:</p>
	  <div class="checkbox">
		    <label>
		      <input type="checkbox" name="emailCheck" method="post" class="box"><p>Email</p>
		    </label>
				<label>
		      <input type="checkbox" name="textCheck" method="post" class="box"> <p>Text</p>
		    </label>
	  </div>

		<div class="container" id="passButton">
		  <a href="/passengerapp_pg2" method="post" type="submit" class="btn btn-default btn-lg"><img src="../images/nextarrow.png" method="post" href="/passengerapp_pg2"></a>
		</div>



	</form>
		<p class="passTxt">Just a bit further</p>
</div>



>>>>>>> 6d67ff0da3633b9ae601da0d58fe1a174532a3a9
<% include partials/footer %>
