<% include partials/header %>
<body class="tan-background">
<% include partials/passenger-navbar %>

<form class="form-inline purple-text">

  <label for="date">Select a day to input availablility</label><br>
  <input type="date" name="availability" class="form-control width-control" method="post" id="birthday" placeholder="Availability date">
</form>

<div class="dropdown col-xs-4 col-xs-offset-2">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Start
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">9:00 AM</a></li>
    <li><a href="#">9:30 AM</a></li>
    <li><a href="#">10:00 AM</a></li>
    <li><a href="#">10:30 AM</a></li>
    <li><a href="#">11:00 AM</a></li>
    <li><a href="#">11:30 AM</a></li>
    <li><a href="#">12:00 PM</a></li>
    <li><a href="#">12:30 PM</a></li>
    <li><a href="#">1:00 PM</a></li>
    <li><a href="#">1:30 PM</a></li>
    <li><a href="#">2:00 PM</a></li>
    <li><a href="#">2:30 PM</a></li>
    <li><a href="#">3:00 PM</a></li>
  </ul>
</div>

<div class="dropdown col-xs-4">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">End
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">9:00 AM</a></li>
    <li><a href="#">9:30 AM</a></li>
    <li><a href="#">10:00 AM</a></li>
    <li><a href="#">10:30 AM</a></li>
    <li><a href="#">11:00 AM</a></li>
    <li><a href="#">11:30 AM</a></li>
    <li><a href="#">12:00 PM</a></li>
    <li><a href="#">12:30 PM</a></li>
    <li><a href="#">1:00 PM</a></li>
    <li><a href="#">1:30 PM</a></li>
    <li><a href="#">2:00 PM</a></li>
    <li><a href="#">2:30 PM</a></li>
    <li><a href="#">3:00 PM</a></li>
  </ul>
</div>
<br>
<br>
<br>
<div class="purple-text">
Repeat on (select all that apply):
</div>
<br>
<label class="form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Su
</label>
<label class="form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> M
</label>
<label class="form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Tu
</label>
<label class="form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> W
</label>
<label class="form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Th
</label>
<label class="form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> F
</label>
<label class="form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Sa
</label>



<% include partials/footer %>
