<% include partials/header %>
<body class="purple-background">

<div class="col-xs-12 col-md-8 verify">

  <h2 class="orange-text">Are you 65 years of age or older?</h2>
    <form method="post">
      <div onClick="window.location = '/passenger-app-pg1';">
        <h3><input type="radio" style="pointer-events:none;"> Yes </h3>
      </div>
      <div class="age-yes" onClick="window.location = '/passenger-error';">
        <h3><input type="radio" style="pointer-events:none;"> No </h3>
      </div>
    </form>

</div>
<script type="text/javascript" src="javascripts/riderverify.js"></script>
<% include partials/footer %>
