<% include partials/header %>
<div class="passVerify">
<div class="col-xs-12 col-md-8">

  <h2>Are you 65 years of age or older?</h2>
    <form class="age-verify" method="post">
      <div onClick="window.location = '/passengerapp_pg1';">
        <input id="verify-yes" type="radio" style="pointer-events:none;"> Yes
      </div>
      <div onClick="window.location = '/passengerno';">
        <input id="verify-no" type="radio" style="pointer-events:none;"> No
      </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="javascripts/riderverify.js"></script>
<% include partials/footer %>
