<% include partials/header %>
<body class="passenger-private">


<% include partials/navbar %>

<img id="bettywhite" src="/images/passenger-photo.jpg" alt="Betty White">
<div class="accessibility-private">
  Accessibility Needs:

    <label><input type="checkbox" value="Wheelchair Accessible">Wheelchair Accessible</label>


    <label><input type="checkbox" value="Cargo space">Cargo space for medical supplies</label>


    <label><input type="checkbox" value="Low-rise vehicle" >Low-rise vehicle</label>

      <label><input type="checkbox" value="Step Assistance" >Step Assistance</label>

</div>

</body>
<% include partials/footer %>
