<% include partials/header %>
<div class="pass-app-2">
  <div class="col-xs-12 col-md-8">
    <p>Almost done! Now we just need a little more information about yourself and your needs.</p>
    <div class="profileImage">
      Profile Image
      <img src="">
    </div>
    <form class="specs" method="post">
      <div>
      Check all vehicle specifications that apply to your needs
      </div>
      <input type="checkbox" name="" value="">Wheelchair Accessable</input><br>
      <input type="checkbox" name="" value="">Cargo space for medical supplies</input><br>
      <input type="checkbox" name="" value="">Low-rise vehicle</input><br>
      <input type="checkbox" name="" value="">Step Assistance</input><br>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>


<% include partials/footer %>
