<% include partials/header %>
<div class="pass-done">
  <div class="col-xs-12 col-md-8">
  Congrats! You are ready for your first Wise Ride!
    <a href="/tutorial">
      <button id="signup-btn"class="btn btn-default">View Tutorial</button>
    </a>
    <a href="/startriding">
      <button id="signup-btn"class="btn btn-default">Start Riding</button>
    </a>

  </div>
</div>


<% include partials/footer %>
