<% include partials/header %>
<body class="tan">
<div class="col-xs-12 col-md-8">
<% include partials/passenger-navbar %>

<img id="bettywhite" src="/images/passenger-photo.jpg" alt="Betty White">
<h3>Betty</h3>
<h4>Phone: 512-111-2345</h4>
  <div class="accessibility-private">
    Accessibility Needs:

      <label><input type="checkbox" value="Wheelchair Accessible">Wheelchair Accessible</label>
      <label><input type="checkbox" value="Cargo space">Cargo space for medical supplies</label>
      <label><input type="checkbox" value="Low-rise vehicle" >Low-rise vehicle</label>
      <label><input type="checkbox" value="Step Assistance" >Step Assistance</label>

  </div>
  <a class="btn btn-default btn-lg" id="signup-btn" href="/settings" role="button">Edit Profile</a><br><br>

  
</div>
<% include partials/footer %>
