<% include partials/header %>
<body class="tan-background">
<% include partials/passenger-navbar %>

<div class="col-xs-10 col-xs-offset-1">
<h3 class="purple-text">Complete! Your ride for <br><%= rideInfo.date %> at <%= rideInfo.time %> <br>is on the schedule!</h3>

<a href="/old-ride-cancel" class="btn-orange-default">Cancel Ride</a>
<p style="color:;">(at least 30 minutes before ride)</p>

<% include partials/footer %>
