<% include partials/header %>
<body class="purple-background">
  <div class="col-md-3"></div>
  <div class="col-xs-12 col-md-6">
    <h3 style="margin-top: 20%;">This service is currently only available within the area shown below</h3>
    <img id="map-img" src="../images/perimetermap.png" alt="Ride Service Perimeter">

    <a href="/info"><img class="back-button" src="images/backarrow.png" alt="Back Arrow"></a>
  </div>
<div class="col-md-3"></div>

<% include partials/footer %>
