<% include partials/header %>
<body>
<% include partials/navbar %>

    <form class="form-inline">

      <label for="date">Date</label><br>
      <input type="date" name="birthday" class="form-control width-control" method="post" id="birthday" placeholder="Date of Birth">


    </form>

    <form class="form-inline">
      <label for="date">Time</label><br>
  <input type="time" name="usr_time" class="form-control width-control" method="post">
</form>


<% include partials/footer %>
