<% include partials/header %>
<body class="tan-background">
<% include partials/navbar %>
<div class="col-xs-10 col-xs-offset-1">
<h3 style="color:;">Currently there are no drivers available for your request. We will send out a request and let you know if it is fulfilled. If you would like to schedule a different time, please cancel this request.</h3>

<a href="/new-ride-cancel" class="btn btn-default">Cancel this Request</a>
<a href="/ride-request" class="btn btn-default">Plan New Ride</a>

<% include partials/footer %>
