<% include partials/header %>
<body class="tan">
<% include partials/navbar %>
<a class="btn btn-default btn-lg" id="signup-btn" href="/settings" role="button">Log Out</a><br><br>
<a class="btn btn-default btn-lg" id="signup-btn" href="/faq" role="button">FAQs</a><br><br>
<a class="btn btn-default btn-lg" id="signup-btn" href="/onboarding" role="button">Tutorial Video</a><br><br>
<a class="btn btn-default btn-lg" id="signup-btn" href="/contact" role="button">Contact Us</a><br><br>



<% include partials/footer %>
