<% include partials/header %>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="form-group">
      <h5>Welcome to Wise Rides!</h5>
        <a href="/driverapp_pg1"><button type="submit" class="btn btn-default">Driver</button></a>
        <a href="/passengerverify"><button type="submit" class="btn btn-default">Passenger</button></a>
    </div>
  </div>
</div>

<% include partials/footer %>
