<% include partials/header %>
<body>
<div class="row" id="signup">
  <div class="col-xs-12 col-md-8">
    <div class="form-group">
      <div class="signup-text">
        <h3>Welcome to Wise Rides!</h3>
        <p>Please select if you would like to sign up as a driver or a passenger.</p>
      </div>
      <a class="btn btn-default btn-lg" id="signup-driver" href="/driver-app-pg1" role="button">Driver</a><br>
      <a class="btn btn-default btn-lg" id="signup-pass" href="/passenger-verify" role="button">Passenger</a><br>
    </div>
  </div>
</div>

<% include partials/footer %>
