<% include partials/header %>
<body class="purple-background">
<div class="row" id="signup">
  <div class="col-xs-12 col-md-8">
    <div class="form-group">
      <div class="signup-text">
        <h3 class="header-text">Welcome to Wise Rides!</h3>
        <h3>Please select if you would like to sign up as a driver or a passenger.</h3>
      </div>
			<!-- route to drive profile page after signin -->
      <a class="btn-orange-lg btn-text" id="signup-driver" href="driver-ridepage-with-appt" role="button">Driver</a><br>
			<!-- route to passenger profile page after signin -->
      <a class="btn-orange-lg btn-text" id="signup-pass" href="/ride-request" role="button">Passenger</a><br>
    </div>
  </div>
</div>
<div id="root" style="width: 280px; margin: 40px auto; padding: 10px;"></div>
<% include partials/footer %>
