body {
   font-family: Helvetica, Arial, sans-serif;
  background: url("/images/desktop-photobackground.png") no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   text-align: center;
 }

 }

 a {
   color: #00B7FF;
     display: inline-block;
 }
 img{
   width:100%;
   height:100%;
   margin-bottom: 30px;
 }
 .landing{
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

 }
 .landing img{
   max-width: 50%;
   max-height: 50%
 }
  .landing-buttons{
    display: block;
  }

.landing #login-btn{
    color: black;
    border: solid black 2px;
    box-shadow: 5px 5px 2px black;
    margin: 15px 0;
    font-size: 20px;
    padding: 14px 24px;
  }
=======


a {
  color: #00B7FF;
    display: inline-block;
}

.landing-buttons{
  display: block;
}

.landing #login-btn{
  color: black;
  border: solid black 2px;
  box-shadow: 5px 5px 2px black;
  margin: 15px 0;
  font-size: 20px;
  padding: 14px 24px;
}

.landing #signup-btn{
  color:black;
  border: solid black 2px;
  box-shadow: 5px 5px 2px black;
  margin: 25px 0;
  font-size: 20px;
  padding: 12px 22px;
}


.landing #signup-btn{
    color:black;
    border: solid black 2px;
    box-shadow: 5px 5px 2px black;
   margin: 25px 0;
   font-size: 20px;
   padding: 12px 22px;
 }
 .passVerify{
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .pass-no{
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .pass-app-1{
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .pass-app-1 .notification{
   margin: 10px 10px;
   display: inline;
 }
 .pass-app-1 .date{
   display: inline-block;
 }
 .pass-app-2{
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .pass-done{
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
